@use "variables" as *;

.btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  border-radius: 0.5rem;
  color: map-get($grey-scale, white);
  font-family: "Inter", "Noto Sans TC";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: min-content;

  background: map-get($primary, light);

  &:hover {
    background: map-get($primary, dark);
  }

  &[mode="disable"] {
    background: map-get($grey-scale, 200);
  }
}
