@use "variables" as *;

.to-do-item {
  display: inline-flex;
  position: relative;
  height: min-content;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: none;
  text-decoration: none;

  .to-do-item-checkbox {
    position: relative;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin: 0;
    appearance: none;
    outline: none;
    vertical-align: middle;

    &::before {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      border: 1px solid map-get($grey-scale, 600);
      z-index: 10;
    }
  }
  .to-do-item-input {
    width: 100%;
    min-height: 17px;
    outline: none;
    border: none;
    background: transparent;
    overflow-wrap: break-word;
  }

  /* default */
  &[state="default"] {
    .to-do-item-checkbox::before {
      border-color: map-get($grey-scale, 600);
    }
    .to-do-item-input {
      color: map-get($grey-scale, 600);
      outline: none;
      border: none;
    }
  }

  /* checked */
  &[state="checked"] {
    color: map-get($primary, dark);
    .to-do-item-checkbox::before {
      border-color: map-get($primary, dark);
    }
    .to-do-item-input {
      color: map-get($primary, dark);
      outline: none;
      border: none;
    }
  }

  /* done */
  &[state="done"] {
    color: map-get($grey-scale, 300);
    .to-do-item-checkbox::before {
      border-color: map-get($grey-scale, 300);
    }
    .to-do-item-input {
      color: map-get($grey-scale, 300);
      text-decoration: line-through;
    }
  }

  /* text */
  &[state="text"] {
    border-color: map-get($primary, light);
    background: map-get($grey-scale, white);
    box-shadow: 0px 0px 1px 1px rgba(46, 100, 70, 0.25);

    .to-do-item-checkbox::before {
      border-color: map-get($grey-scale, 600);
    }
    .to-do-item-input {
      color: map-get($grey-scale, 600);
    }
  }

  /* placeholder */
  &[state="placeholder"] {
    border-color: map-get($primary, light);
    background: map-get($grey-scale, white);

    .to-do-item-checkbox {
      display: none;
      &::before {
        display: none;
      }
    }
    .to-do-item-input {
      color: map-get($grey-scale, 600);
      &::placeholder {
        color: map-get($grey-scale, 200);
      }
    }
    svg {
      display: none;
    }
  }

  /* :hover */
  &:hover:not([state="placeholder"]) {
    border-color: map-get($primary, light);
    background: map-get($primary, light);
    color: map-get($grey-scale, white);

    .to-do-item-checkbox::before {
      border-color: map-get($grey-scale, white);
    }
    .to-do-item-input {
      color: map-get($grey-scale, white);
    }
    .delete-icon {
      color: map-get($grey-scale, white);
    }
  }

  /* icon */
  svg {
    cursor: pointer;
  }
  .to-do-item-checked-icon {
    width: 12px;
    height: 12px;
    position: absolute;
  }
  .to-do-item-delete-icon {
    width: 12px;
    height: 12px;
    color: map-get($complementary, alarm);
  }
}
