@import 'reset';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* html */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans TC';
  background-color: map-get($grey-scale, 200);
}

/* title */
@mixin title($font-size) {
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  font-size: $font-size;
}
h1 {
  @include title(40px);
}
h2 {
  @include title(32px);
}
h3 {
  @include title(28px);
}
h4 {
  @include title(24px);
}
h5 {
  @include title(20px);
}
h6 {
  @include title(18px);
}
.subtitle-1 {
  @include title(16px);
}
.subtitle-2 {
  @include title(14px);
}
caption {
  @include title(12px);
}
small {
  @include title(11px);
}

/* body */
@mixin body($font-size) {
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: calc($font-size * 0.01);
  font-size: $font-size;
}
.body-1 {
  @include body(28px);
}
.body-2 {
  @include body(24px);
}
.body-3 {
  @include body(20px);
}
.body-4 {
  @include body(18px);
}
.body-5 {
  @include body(16px);
}
.body-6 {
  @include body(14px);
}
.body-7 {
  @include body(12px);
}
.body-8 {
  @include body(11px);
}

/* button */
@import 'button';

/* color */
/* text & back-ground color from 'colors' */
@each $group-name, $group in $colors {
  @each $name, $color in $group {
    .text-#{$group-name}-#{'' + $name} {
      color: $color;
    }
  }
}

/* svg */
svg {
  flex-shrink: 0;

  &.icon {
    width: 24px;
    height: 24px;
  }
}
