@use "reset";
@use "variables" as *;

/* partials */
@use "button";
@use "todoitem";

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* color define */

/* html */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC";
  background-color: map-get($grey-scale, 200);
}

/* title */
%title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
h1 {
  @extend %title;
  font-size: 40px;
}
h2 {
  @extend %title;
  font-size: 32px;
}
h3 {
  @extend %title;
  font-size: 28px;
}
h4 {
  @extend %title;
  font-size: 24px;
}
h5 {
  @extend %title;
  font-size: 20px;
}
h6 {
  @extend %title;
  font-size: 18px;
}
.subtitle-1 {
  @extend %title;
  font-size: 16px;
}
.subtitle-2 {
  @extend %title;
  font-size: 14px;
}
caption {
  @extend %title;
  font-size: 12px;
}
small {
  @extend %title;
  font-size: 11px;
}

/* body */
%body {
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.body-1 {
  @extend %body;
  font-size: 28px;
}
.body-2 {
  @extend %body;
  font-size: 24px;
}
.body-3 {
  @extend %body;
  font-size: 20px;
}
.body-4 {
  @extend %body;
  font-size: 18px;
}
.body-5 {
  @extend %body;
  font-size: 16px;
}
.body-6 {
  @extend %body;
  font-size: 14px;
}
.body-7 {
  @extend %body;
  font-size: 12px;
}
.body-8 {
  @extend %body;
  font-size: 11px;
}

/* color */
/* text color class from 'colors' */
@each $group-name, $group in $colors {
  @each $name, $color in $group {
    .text-#{$group-name}-#{"" + $name} {
      color: $color;
    }
  }
}

/* svg */
svg {
  flex-shrink: 0;

  &.icon {
    width: 24px;
    height: 24px;
  }
}
